<h1>THIS IS FUCKING INDEX</h1>

<% @courses.each do |course|%>
<%= course.client_name %>
<%= course.client_name %>
<%= course.client_name %>
<%= course.client_name %>
<%= course.client_name %>
<%= course.client_name %>
<%= course.client_name %>
<%end%>
