  <div class="container form-index-top d-flex">
      <div>
        <%= form_with url: courses_path, method: :get, class: "d-flex align-items-center offset-1 mb-2" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Filter",
            style: "width: 20vw;"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <%= select_tag :tags, ["No_DRIVER"], placeholder: "tags...", class:"form-control"%>
        <% end %>
      </div>

  </div>


  <div class="categories d-flex justify-content-evenly">
    <div class="categories item">
      <p>Nom du magasin</p>
    </div>
    <div class="categories item">
      <p>Camions</p>
    </div>
    <div class="categories item">
      <p>Trusker</p>
    </div>
    <div class="categories item">
      <p>Adresse</p>
    </div>
    <div class="categories item">
      <p>Prise en charge</p>
    </div>
    <div class="categories item">
      <p>Livraison</p>
    </div>
  </div>
<div class="offset-1">
  <% @courses.each do |course|%>
    <%= link_to course_path(course) do%>
      <div class="card-product">
      <div class="card-product-infos d-flex justify-content-evenly">
        <h2><%= course.pro_client %></h2>
        <p> <%= course.starting_time %> </p>
        <p> <%= course.ending_time %> </p>
        <p> <%= course.price %> </p>
        <p>
        <%= course.address %>
        </p>
      </div>
      </div>
    <% end %>
  <%end%>
</div>
